h2 {
    display: flex;
    justify-content: center;
    
}

.cityListCard {
    display: flex;
    justify-content: center;
    
}

.landmarkListCard {
    display: flex;
    justify-content: center;
    text-align: center;

    
}

.leaderListCard {
    display: flex;
    justify-content: center;
   